:root{
    --accent: #3a944a;
    --bg: transparent; 
    --bg-blur: #4444445e; 
}
*{
    box-shadow:none;
}
button, menubutton{
    color: #fff;
}
window{
    background: transparent;
}
.main-content{
    min-height: 34px;
    background-color: transparent;
    transition: opacity linear 100ms;
    opacity: 1;
    border-radius: 99999px;
    overflow: hidden;
    margin: 7px;
}
.main-content.hidden{
    opacity: 0;
}
.mcard{
    background-color: var(--bg-blur);
    margin-left:    1.5px;
    margin-right:   1.5px;
    border-radius:  4px;
    transition:     border-radius ease-in-out 250ms;
}

.cava-piece{
    background-color: #fff;
    border-radius:  2px;
    min-height:     2px;
}

.clock{
    font-size: x-large;
    font-weight: normal;
    padding: 5px 10px 5px 10px;
}

.line-separator{
    min-width: 1px;
    background-color: #ffffff18;
    margin-top: 8px;
    margin-bottom: 8px;
}
.workspace-pointer{
    background-color: #fff;
    border-radius: 2px 2px 0 0;
}